body 
{
    background-image:url(Images/807536.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.myForm{
    margin-top:18em;
    margin-left:50em;
    box-sizing:border-box;
    padding:70px 30px;
    position:absolute;
    color:azure;
}
text {
    text-align: center
}

table {
    align-content: center;
    text-align: left;
}

body {
    text-align: center;
}

button {
    display: block;
    margin: auto;
}
.masterdiv {
    width:100%; color: black;
    background-color: gray;
    height: 2%;
}
